---
name: Pull Request

on:
  pull_request:
    branches:
      - main

jobs:
  lint:
    name: Lint
    uses: ./.github/workflows/_lint.yml

  build:
    name: Build
    uses: ./.github/workflows/_build.yml
    needs: lint
